/* General Sans — Fontshare (ITF Free Font License). Self-hosted. */
@font-face{
  font-family:'General Sans';
  src:url('./GeneralSans-400.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:'General Sans';
  src:url('./GeneralSans-500.woff2') format('woff2');
  font-weight:500;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:'General Sans';
  src:url('./GeneralSans-600.woff2') format('woff2');
  font-weight:600;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:'General Sans';
  src:url('./GeneralSans-700.woff2') format('woff2');
  font-weight:700;
  font-style:normal;
  font-display:swap;
}
